body{
  background: rgb(22, 22, 22);
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin: 0;

  min-height: 100vh;
  background-color: #000000;
  color: white;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}
img{
  max-width: 80%;
  max-height: 80%;
  margin: 50px;
}
.description{
  display: flex; 
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin-left: 60vh;
  margin-right: 60vh;
}
.image-background{
  display: flex;
  justify-content: center;
  background: rgba(70, 68, 68, 0.24);
  margin: 50px;
  border-radius: 30px;
}
h1{
  border-bottom: 1px solid #ddd;
}
li{
  margin: 20px;
}
.Ingredients{
  display: flex; 
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin-left: 60vh;
  margin-right: 60vh;
}
